

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import /styles.css;

body { 
  background: url(../img/knocked_loose_promo2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: "LUCKYTYPEWRITER";
  font-size: 13px;
}

.merch-stores {
  margin-top: 60px;
}

.preorder-button {
  background: 0 none;
  border: 4px solid white;
  padding: 10px;
  display: flex-row;
  font-size: 20px;
  width: 67%;
  margin-top: 10px;
}

.preorder-button a{
  text-decoration: none;
  color: white;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
  z-index: 10000;
}

.album-cover {
  margin: auto;
}

.modal-content {
   text-decoration: none !important; 
}
.tour-wrapper {
  
}
.tour-dates {
  margin-top: 200px;
  max-width: 1000px;
  overflow: auto;
}
.tour-dates a {
  color: gray;
}
.nav-links {
	display: table;
	float: left;
}
.nav-links button {
  margin-top: 60px;
}
.nav-button:hover {
	color: rgba(225, 225, 225, 0.6);
}
.nav-button:focus {
	outline: none;
}
.nav-button {
	background-color: transparent;
	border: none;
	margin-top: 4.2px;
  margin-right: 1.2em;
  margin-left: -5px;
}
.navbar-text {
	color: white;
}
.navbar-inverse {
	background: transparent;
	border-bottom: 0px;
  z-index: 10;
}
.navbar {
  z-index: 10;
  position: absolute;
}

.navbar-toggle {
	border: none;
}
#hamburger:hover {
	background-color: transparent;
	opacity: .8;
}
#footer {
	position:fixed;
	bottom:0;
	z-index:999999;
	text-align: center;
	display: inline;
	width:100%;
}
.footer-text {
	text-align: center;
	color: white;
}

#social li {
    list-style-type: none;
    text-align: center;
    padding: .5em;
    display: inline-block;
    margin: auto;


}
.social-wrapper {
    margin-top: 10px;

    text-align: right;
    z-index: 10000;
    position: absolute;
    top: 0;
    right: 0;

}
  .social-wrapper {
    padding-right: 55px;
  }

.social-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    padding-top: 8px;
    color: white;
    border: solid white 2px;
    opacity: .6;

}
.social-button:hover {
    color: #010101;
    background-color: white;
    border: solid white 2px;
    opacity: 1;
     -webkit-box-shadow: 0 8px 6px -6px #333333;
       -moz-box-shadow: 0 8px 6px -6px #333333;
            box-shadow: 0 8px 6px -6px #333333;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 20px;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.thumbnail {
  border: 0 none;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-content {
	background-color: rgba(0, 0, 0, 0.6); 
}
.modal-header {
  border-bottom: 0px;
  text-decoration: none !important;
}
.modal-title {
  font-size: 30px;
}
.close {

  color: white;
  opacity: 1;
}
.close:hover {
  color: gray;
}
.modal-header .close {
  font-size: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  right: 0;
  left: 0;
}
.nav-links {
    margin-top: 4em;
}

@media (max-width: 768px) {
  .tour-dates {
    margin-top: 120px;
    height: 300px;
  }
  .social-wrapper {
    position: absolute;
    top: auto;
    bottom: 0;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    right: 0;
    left: 0;
    z-index: 0;
  }
  .social-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    padding-top: 8px;
    color: white;
    border: solid white 2px;
    opacity: 1;

  }
  .social-button:hover {
    opacity: 1;
  }

  .nav-links {
    margin-left: 15px;
    margin-top: 4em;
  }

  .preorder-button {
    width: 100%;
  }
}
.itunes {
  margin: 20px;
  max-width: 80px;
}
.spotify {
  margin: 20px;
  max-width: 250px;
}



@media (max-width: 375px) {
  .social-button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    padding-top: 5px;
    color: white;
    border: solid white 2px;
    opacity: .6;

  }
  .nav-button {
    background-color: transparent;
    padding: 11px;
    border: none;
    margin-top: 4.2px;
    margin-right: 1px;
    margin-left: 0px;
  }
  #social li {
    font-size: 14px;
    list-style-type: none;
    text-align: center;
    padding: .3em;
    display: inline-block;
    margin: auto;
  }
  .social-footer {
    text-align: center;
    padding: auto;
  }
    .social-wrapper {
    padding-right: 55px;
  }

} 

